* {
  box-sizing: border-box;
}

:root {
  --font-white: #fff;
  --font-dark: #000;
  --form-bg: hsla(211, 100%, 25%, 0.47);
  --main-bg: #6b7094;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans normal', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--main-bg);
}

.form-container {
  background-color: var(--form-bg);
  border: 1px solid black;
  border-radius: 10px;
  min-height: 300px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

label,
input {
  display: block;
}

input {
  border-radius: 10px;
}

.clear,
.lucky {
  display: inline-block;
}

.clear {
  margin-left: 1rem;
}

@media screen and (max-width: 400px) {
  button {
    padding: 10px 32px;
  }
}
